html,body {
	height: 100%;
}

::-webkit-scrollbar {
    display: none;
}

body.login-page {
	background-color: #f7f9fb;
	font-size: 14px;
	padding-top: 64px;
}

.login-page .brand {
	width: 90px;
	height: 90px;
	overflow: hidden;
	border-radius: 50%;
	margin: 0 auto;
	margin: 40px auto;
	box-shadow: 0 0 40px rgba(0,0,0,.05);
}

.login-page .brand img {
	width: 100%;
}

.login-page .card-wrapper {
	width: 400px;
}

.login-page .card {
	border-color: transparent;
	box-shadow: 0 0 40px rgba(0,0,0,.05);
}

.login-page .card.fat {
	padding: 10px;
}

.login-page .card .card-title {
	margin-bottom: 48px;
	text-align: center;
}

.login-page .form-control {
	border-width: 2.3px;
}

.login-page .form-group label {
	width: 100%;
}

.login-page .btn.btn-block {
	padding: 12px 10px;
}

.login-page .margin-top20 {
	margin-top: 20px;
}

.login-page .no-margin {
	margin: 0;
}

.login-page .footer {
	margin: 40px 0;
	color: #888;
	text-align: center;
}

#scrollBack {
	text-decoration: none;
	position: fixed;
	left: 20px;
	top: 20px;
	font-size: 20px;
	line-height: 40px;
	width: 40px;
	height: 40px;
	color: #2f2f3b;
	text-align: center;
	-webkit-transition-duration: 500ms;
	-o-transition-duration: 500ms;
	transition-duration: 500ms;
	border-radius: 50%;
	z-index: 15962536;
}

@media only screen and (max-width: 767px) {
#scrollBack {
	left: 20px;
	top: 20px;
	}
}

#scrollBack:focus, #scrollBack:hover {
	background-color: #f0f0f0;
	color: #199bdf;
}

#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  top: 0;
  left: 0;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden; }

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out; }

.loader {
  color: #199bdf;
  font-size: 6px;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0; }

.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.loader:after {
  left: 3.5em; }

@-webkit-keyframes load7 {
  0%,
    80%,
    100% {
    box-shadow: 0 2.5em 0 -1.3em; }
  40% {
    box-shadow: 0 2.5em 0 0; } }
@keyframes load7 {
  0%,
    80%,
    100% {
    box-shadow: 0 2.5em 0 -1.3em; }
  40% {
    box-shadow: 0 2.5em 0 0; } }
