<div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">Containers</span>
        <h3 class="page-title">{{containersId}}</h3>
    </div>
</div>


<div ng-if="errors" class="row">
    <div class="col">
        <div class="card card-small mb-4">
            <div class="card-header border-bottom">
                <h6 class="m-0">Errors</h6>
                <div class="card-body p-0 pb-3 text-center">
                    <h5 style="text-align:center; color: #ff2600"><b>{{errors}}</b></h5>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col">
        <!-- Post Overview -->
        <div class="card card-small mb-3">
            <div class="card-header border-bottom">
                <h6 class="m-0">General view</h6>
            </div>
            <div class="card-body p-0">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item p-3">
                        <span class="d-flex mb-2"><i class="material-icons mr-1">flag</i><strong
                                class="mr-1">Status:</strong> {{status}}</span>
                        <span ng-if="shareStatus !== null" class="d-flex mb-2"><i
                                class="material-icons mr-1">visibility</i><strong
                                class="mr-1">Visibility:</strong> <strong class="text-success">Available</strong>
                        <a class="ml-auto" href="https://127.0.0.1/share/{{shareStatus}}"><i class="fas fa-external-link-alt"></i> Open container</a></span>
                        <span ng-if="shareStatus === null" class="d-flex mb-2"><i
                                class="material-icons mr-1">visibility</i><strong
                                class="mr-1">Visibility:</strong> <strong class="text-danger"><a href=""
                                                                                                 data-toggle="modal"
                                                                                                 data-target="#local">Local access</a> </strong></span>
                        <span class="d-flex mb-4"><i class="material-icons mr-1">calendar_today</i><strong
                                class="mr-1">Creation time:</strong> <mydate>{{creationTime * 1000 | date:'dd-MM-yyyy HH:mm:ss'}}</mydate> </span>

                        <span class="d-flex mb-2 btn-block">
                            <div class="col-4">
                                <button type="button" class="btn mb-2 btn-block btn-danger mr-2" data-toggle="modal" data-target="#remove">Remove container</button>
                            </div>
                            <div class="col-4">
                                <button type="button" class="btn mb-2 btn-block btn-success mr-2" data-toggle="modal" data-target="#exec">Execute commands</button>
                            </div>
                            <div class="col-4">
                                <button type="button" class="btn mb-2 btn-block btn-warning mr-2" ng-click="dockerRestart()">Restart container</button>
                            </div>
                        </span>

                </ul>
            </div>
        </div>

        <div ng-if="shareStatus === null" class="card card-small mb-3">
            <div class="card-header border-bottom">
                <h6 class="m-0">Advertising</h6>
            </div>
            <div class="card-body p-0">
                <div style="text-align: center"><img src="./img/core-img/advertising.png"></div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col">
        <div class="card card-small mb-4">
            <div class="card-header border-bottom">
                <h6 class="m-0">Current processes</h6>
                <div class="card-body p-0 pb-3 text-center">
                    <table class="table mb-0">
                        <thead class="bg-light">
                        <tr>
                            <th scope="col" class="border-0">UID</th>
                            <th scope="col" class="border-0">PID</th>
                            <th scope="col" class="border-0">STIME</th>
                            <th scope="col" class="border-0">TIME</th>
                            <th scope="col" class="border-0">CMD</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="x in tops | limitTo:30">
                            <td>{{x[0]}}</td>
                            <td>{{x[1]}}</td>
                            <td>{{x[4]}}</td>
                            <td>{{x[6]}}</td>
                            <td style="text-align:left;">{{x[7]}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card card-small mb-4">
            <div class="card-header border-bottom">
                <h6 class="m-0">Logs from the machine</h6>
                <textarea readonly class="form-control" name="logsMachine" rows="20">{{logMachine}}</textarea>
            </div>
        </div>
    </div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="local">
    <div class="model-dialog" role="document" style="width: 100%; margin: auto; z-index: 999;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="float:right;" class="modal-title">Local access</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <object style="float:right; width:100%;height:100vh;"
                        data="https://srv.simplemethod.io:{{hostPorts}}" type="text/html">
                    Docker
                </object>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="remove">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Warning!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div style="text-align: center"><h5>Are you sure?</h5>
                    <button type="button" class="mb-2 btn btn-danger mr-2" ng-click="dockerRemove()">Remove container
                    </button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="exec">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Execute commands</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" class="form-control" id="path" placeholder="Path" ng-model="execPath" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="args" placeholder="Arguments" ng-model="execArgs" required>
                </div>
                <div style="text-align: center"> <button type="button" class="mb-2 btn btn-success mr-2" ng-click="execCommands(execPath,execArgs)">Execute</button></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>