<div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-8 text-center text-sm-left mb-4">
        <span class="text-uppercase page-subtitle">Projects</span>
        <h3 class="page-title">Your GitHub projects</h3>
    </div>
</div>

<div class="row">

    <div ng-repeat="x in jsondata" class="col-lg-12">
        <div class="card card-small card-post mb-4">
            <div class="card-body">
                <h5 class="card-title">{{x.name}}</h5>
                <p class="card-text text-muted">{{x.description}}</p>
            </div>
            <div class="card-footer border-top d-flex">
                <div class="card-post__author d-flex">
                    <div class="d-flex flex-column justify-content-center">
                        <span class="card-post__author-name">{{x.language}}</span>
                        <small class="text-muted">{{x.created_at}}</small>
                    </div>
                </div>
                <div class="my-auto ml-auto">

                    <a  ng-if="x.container_create !== null"  class="btn btn-normal btn-primary " href="/dashboard.html#!/containers/{{x.container_create}}">
                        <i class="fas fa-cogs mr-1"></i> Open </a>
                    <a  ng-if="supportedPlatforms.indexOf(x.language) !== -1 && x.container_create === null"  class="btn btn-normal btn-primary " href="/dashboard.html#!/create/{{x.id}}">
                        <i class="fas fa-cogs mr-1"></i> Run </a>
                    <a  ng-if="supportedPlatforms.indexOf(x.language) === -1"  class="btn btn-normal btn-primary disabled" href="#">
                        <i class="fas fa-cogs mr-1"></i> Unsupported</a>
                </div>
            </div>
        </div>
    </div>


</div>